.product_item {
	display: grid;
	border: 1px solid #9F9F9F;
	border-radius: 35px;
	padding: 20px;
	margin: 30px;
	transition: box-shadow 0.4s ease-out;
}

.product_item:hover {
	box-shadow: 0px 0px 10px 0px #616161;
}

.product_item p {
	margin-bottom: 5px;
	margin-top: 5px;
}

.product_price {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.product_price span {
	font-weight: bold;
	font-size: 25px;
}

.product_img {
	justify-self: center;
	width: 200px;
}

.product_title {
	font-size: 20px;
	font-weight: bold;

}

.price {
	color: #9D9D9D;
	font-weight: bold;
}

.plus_btn {
	justify-self: end;
	background-color: white;
	border: 1px solid #9F9F9F;
	border-radius: 10px;
	padding: 7px;
	padding-bottom: 4px;
	cursor: pointer;
}

.plus_btn img {
	width: 15px;
}

.check_btn {
	justify-self: end;
	background-color: #001AFF82;
	border: 1px solid #9F9F9F;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 16px;
	cursor: pointer;

}

.check_btn img {
	width: 15px;
}

.favorite_btn {
	border: 0;
	border-radius: 10px;
	background-color: #001aff;
	color: white;
	padding: 7px;
	font-size: 14px;
	text-align: start;
	width: fit-content;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

/* .favorite_btn:hover {
	transform: translateX(20px); 
} */

.favorite_btn:active {
	font: bold;
	color: #001aff;
	background-color: white;
	box-shadow: 5px 5px 5px 0px black;
}

.favorite_btn_added {
	border: 2px solid #001aff;
	border-radius: 10px;
	background-color: white;
	color: #001aff;
	padding: 7px;
	font-size: 14px;
	text-align: start;
	width: fit-content;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}
